note
{
    font-family:Verdana, Arial;
    margin-left:30px;
}

to
{
    font-size:28px;
    display: block;
}

from
{
    font-size:28px;
    display: block;
}

heading
{
    color: red;
    font-size:60px;
    display: block;
}

body
{
    color: black;
    font-size:20px;
    display: block;
}
.title01
{
    width:14%;
    background-color:black;
    text-align:center;
    border-color:white;
    color: white;
    border-style: double;
    /*border-bottom-width: 2px;*/
}
.huafeng
{
    height: 30%;
    width: 30%;
    background-color: white;
    border-width: 1px;
    border-color: black;
    text-align: left;
    align-content: center;
}
.subblock
{
    width: 100%;
    height: 100%;
    background-color:white;
    border-width: 1px;
    border-color: black;
    align-content: center;
    text-align: center;
    font-size:15px;
    color: black;
    border-radius:10px;
}
.main
{
    width: 100%;
    //background-color:#45c9dd;
    background-color: white;
    border-left-width:50px;
    border-right-width:50px;
    border-bottom-width:50px;
    border-color: white;
    text-align: center;
    font-size:15px;
    color: white;

}
a {
    color: black;
    text-decoration: none;
}
.atitle
{
    
}
.enbed{
    border-radius: 10px;
}
.title02{
    color: black;
    width: 100%;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width:0px ;
    border-top-width: 0px;
    border-color: #25b4cb;
    border-style: double;
    font-family: 黑体;
    text-align: left;
    font-size: larger;
}
.title03{
    font-family: 楷体;
    font-size: large;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-color:#dddddd;
    border-style: dotted;
}
.articletitle{
    width:80%;
}
.date{
    text-align: right;
    width: 20%;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
/*.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的链接 */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
/*.dropdown-content a:hover {background-color: #f1f1f1}

/* 在鼠标移上去后显示下拉菜单 */
/*.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
*/
.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    padding: 0px 0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
}

.im{
    width: 996px;
    align-self:center;
    height: 400px;
    background: black;
    border: 0px;
}

.rotator-main {
    position: relative;
    width: 900px;
    height: 400px
}

.rotator-main a, .rotator-main img { display: block; }

.rotator-main .rotator-list {
    width: 900px;
    height: 400px
}

.rotator-main .rotator-list .rotator-item {
    position: absolute;
    left: 0px;
    top: 0px
}

.rotator-main .rotator-btn {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0px;
    z-index: 10;
    opacity: 0;
}

#kuang{
    width: 290px;
    height: 200px;
}